### Imports

In [1]:
import sys  
reload(sys)  
sys.setdefaultencoding('utf8')

import pandas as pd
import numpy as np
import MySQLdb

# Import SQLAlchemy

from sqlalchemy import Integer, Column, create_engine, ForeignKey
from sqlalchemy.orm import relationship, joinedload, subqueryload, Session
from sqlalchemy.ext.declarative import declarative_base

from pandas.io import sql

### Read file

In [2]:
data = pd.read_csv("/Users/Meili/Desktop/VAC/tickets_history_may-jul.csv", error_bad_lines=False)

### Upload data to DB

In [ ]:
engine = create_engine('mysql://root:1234@localhost/va201620')
connection = engine.connect()
#for row in data:
    #row
    #result = connection.execute("INSERT INTO tickets(id,name,history_type_id,ticket_id,article_id,type_id,queue_id,owner_id,priority_id,state_id,valid_id,create_time,create_by,change_time,change_by,id_1,name_1,comments,type_id_1,valid_id_1,create_time_1,create_by_1,change_time_1,change_by_1,visible_mobile,id_2,tn,title,queue_id_1,ticket_lock_id,ticket_answered,type_id_2,service_id,sla_id,user_id,responsible_user_id,group_id,ticket_priority_id,ticket_state_id,group_read,group_write,other_read,other_write,customer_id,customer_user_id,timeout,until_time,escalation_time,escalation_update_time,escalation_response_time,escalation_solution_time,valid_id_2,archive_flag,create_time_unix,create_time_2,create_by_2,change_time_2,change_by_2,alarm_code,device_id) VALUES (30159732,'%%Note',15,494183,'6502695',12,28,314,4,22,1,'2016-05-01 00:00:01',188,'2016-05-01 00:00:01',188,22,'EN PROCESO DE ALISTAMIENTO',NULL,2,1,'2013-02-24 20:15:01',35,'2013-02-24 20:15:01',35,0,494183,10494214,'REPOSICION ALMACEN SATELITE TIKET 10491750',28,1,0,12,212,NULL,314,1,1,4,25,NULL,NULL,NULL,NULL,'ZONAL::ETIB','etib',1462098800,0,0,0,0,0,1,0,1462028071,'2016-04-30 09:54:31',314,'2016-05-01 05:33:20',188,NULL,NULL);")
#result = connection.execute("INSERT INTO tickets(id,name,history_type_id,ticket_id,article_id,type_id,queue_id,owner_id,priority_id,state_id,valid_id,create_time,create_by,change_time,change_by,id_1,name_1,comments,type_id_1,valid_id_1,create_time_1,create_by_1,change_time_1,change_by_1,visible_mobile,id_2,tn,title,queue_id_1,ticket_lock_id,ticket_answered,type_id_2,service_id,sla_id,user_id,responsible_user_id,group_id,ticket_priority_id,ticket_state_id,group_read,group_write,other_read,other_write,customer_id,customer_user_id,timeout,until_time,escalation_time,escalation_update_time,escalation_response_time,escalation_solution_time,valid_id_2,archive_flag,create_time_unix,create_time_2,create_by_2,change_time_2,change_by_2,alarm_code,device_id) VALUES (30159732,'%%Note',15,494183,'6502695',12,28,314,4,22,1,'2016-05-01 00:00:01',188,'2016-05-01 00:00:01',188,22,'EN PROCESO DE ALISTAMIENTO',NULL,2,1,'2013-02-24 20:15:01',35,'2013-02-24 20:15:01',35,0,494183,10494214,'REPOSICION ALMACEN SATELITE TIKET 10491750',28,1,0,12,212,NULL,314,1,1,4,25,NULL,NULL,NULL,NULL,'ZONAL::ETIB','etib',1462098800,0,0,0,0,0,1,0,1462028071,'2016-04-30 09:54:31',314,'2016-05-01 05:33:20',188,NULL,NULL);")
data.to_sql('tickets', connection, flavor='sqlite', schema=None, if_exists='replace', index=True, index_label=None, chunksize=None, dtype=None)
connection.close()
print("Todo bien")
#for row in result:

#connection.close()
#connection = MySQLdb.connect(host="localhost",user="root",passwd="1234",db="va201620") 
#data.to_sql(con=connection, name='tickets', if_exists='replace')

#data.to_sql('tickets', connection, flavor='sqlite', schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)
#connection.close()
#print("username:", result[0]['id'])